# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Debug/
/EvoCoder.VC.VC.opendb
cereal
/x64/Debug
/*.json
/EvoCoder.VC.db
/logs
/plugins/EVOPROGv2/*.pyc
/plugins/EVOPROGv2/utilities/*.pyc
/.vs/EvoCoder/v14
/x64/Release
/UpgradeLog.htm
/machines/mappingMachine.json
/machines/mappingMachine.png
/plugins/plugins.zip
/randomMachine.graph
/randonSketch.graph
/simpleMachine.graph
/simpleSketch.graph
